<!-- Page Content -->
<div class="container-fluid no-padding">

  <div class="row no-gutters">
    <div class="col-12 text-center pt-3">
      <span class="text-image">Images</span>
      <img class="logo " src="assets/logo-suplos-intelcost.png" alt="">
    </div>

    <div class="col-12 text-center">
      <div class="pl-4 pr-4 pt-2">
        <div class="input-group">
          <input type="text" (keyup.enter)="search()" [(ngModel)]="textToSearch" class="form-control" placeholder="Search images on this site (Education, computers, science...)">
          <div class="input-group-append">
            <button (click)="search()" class="btn btn-secondary" type="button">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="mt-2 mb-5" />

  <div class="row no-gutters text-center text-lg-left pl-4 pr-4">
    <ng-container *ngIf="images$ | async as images">
      <ng-container *ngFor="let hit of images.hits">
        <app-images [image]="hit" class="col-lg-3 col-md-4 col-xs-6"></app-images>
      </ng-container>
    </ng-container>
    <!-- <ng-container *ngIf="(images$ | async)?.total === 0">
      Did not match any results.

      Suggestions:

      Try different keywords (Laptop, technology...).
    </ng-container> -->
  </div>
</div>



